.bhavi1{
    font-size: 40px;
    background-color: yellow;
    color: blue;
    padding-left: 500px;
}

.bhavi2{
    height:350px;
    width: 500px;
    margin: 0 30% 0 30%;
}
.bhavi3{
    font-size: 35px;
    background-color: rgb(60, 236, 157);
    color: rgb(202, 27, 176);
    padding-left: 550px;
}

.bhavi4{
    font-size: 20px;
    background-color:antiquewhite;
    color:blueviolet;
}
.sopu1{
    
    font-size: 40px;
    background-color: rgb(216, 216, 177);
    color: blue;
    padding-left: 500px;

}
.sopu2{ height:350px;
    width: 500px;
    margin: 0 30% 0 30%;

}
.sopu3{font-size: 35px;
    background-color: rgb(60, 236, 157);
    color: rgb(51, 7, 44);
    padding-left: 550px;

}
.sopu4{

    font-size: 20px;
    background-color:antiquewhite;
    color:blueviolet;
}
